#form {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
}

label {
  color: grey;
  font-size: 1.4em;
  margin: 0.5em 0;
}

input {
  height: 2em;
  padding-left: 1em;
  cursor: pointer;
}

button {
  padding: 0.4em;
  margin-top: 1em;
  color: blue;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.5em;
  background-color: rgb(184, 184, 184);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(216, 215, 215);
}
